body {
	background-color: rgb(12, 12, 12);
	font-family: sans-serif;
	color: darkgray;
}
#for_login {
	width: 40%;
}
.input-field {
	padding-top: 15px !important;
}
.header {
	background-color: rgb(12, 12, 12);
}
.title {
	display: block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: crimson;
	margin: auto;	
	text-align:center;	
}
.logo {
	display: block;
	margin: auto;
	text-align:center;	
	padding-top: 1px;	
	
}
#info_tope {
	display: block;
	float: right;
	margin-left: 100px;
	width: auto;
	text-align: right;
	position:relative;	
	margin-left: 20px;
}

#total_acumulado {	
	display: block;
	width: 50%;
	padding-left: 25px;
}

.dropdown-item {
	cursor: pointer;
}

#btnGuardar {
	color: red !important;
}

.bg-light {
	color:white;
	background-color: red !important;
}

.navbar-light .navbar-nav .nav-link {
	color:white !important;
	font-weight: 500;
}

.navbar-brand {
	color: yellow !important;
}

#for_login {
	margin:  0px auto; 
	display: block;
	width:80% !important;
}

.boton-pequeno {
	width: 120px;
	padding-left:10px;
}

.img-centro {
	padding-top: 100px;
}

#txtSaldo {
	border:  1px solid #E9ECEF;  
	height: 35px;
	border-radius: 4px 3px 6px / 2px 4px;
}